{% extends 'base.html.twig' %}

{% block title %} Кажется комната санты уже закрыта {% endblock %}
{% block body %}
    <div class="site-container">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; row-gap: 20px;">
            <h2>К сожалению, игра уже началась.</h2>
            <a href="{{ path('app_root') }}">Вернуться в главное меню</a>
        </div>
    </div>
{% endblock %}
