{% extends 'base.html.twig' %}

{% block title %} Войдите в комнату тайного санты {{ game_name }} {% endblock %}
{% block body %}
    <div class="site-container">
        {{ form_start(enter_form) }}
        {{ form_end(enter_form) }}
    </div>
{% endblock %}
