<turbo-stream action="replace" target="shuffle-wish">
    <template>
        <div class="site-container">
            {{ form_start(shuffle_wish_form) }}
            {{ form_end(shuffle_wish_form) }}
        </div>
    </template>
</turbo-stream>
