@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$default-padding-lr : 100px;

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.site-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 2em $default-padding-lr 2em $default-padding-lr;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: 280px;
    margin: 0 auto 0 auto;

    div {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}

input {
    font-family: "Inter", sans-serif;
    padding: 10px;
    outline: 0;
    border: 1px solid rgb(224, 50, 50);
    font-size: 14px;
    border-radius: 10px;
}

button {
    font-family: "Inter", sans-serif;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    color: white;
    background: rgb(224, 50, 50);
    font-size: 14px;
    cursor: pointer;
}

p, label, h1,h2,h3,h4,h5 {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

.justify-between {
    justify-content: space-between !important;
}

.margin-0 {
    margin: 0 !important;
}



@import "./layouts/header";
@import "./layouts/game";
@import "./layouts/auth";
@import "./layouts/form";
