.form {
    &-title {
        font-family: "Inter", sans-serif;
        font-size: 20px;
        text-align: center;
    }

    &-invite {
        flex-direction: row;
        max-width: none;
        column-gap: 10px;
        margin: unset;
    }
}