<h1>Здравствуйте, подтвердите вашу учётную запись!</h1>

<p>
    Чтобы подтвердить учётную запись, кликните по ссылке ниже: <br><br>
    <a href="{{ signedUrl|raw }}">Подтвердить учётную запись</a>.
</p>
