<h1>Здравствуйте, Вам отправлено приглашение присоединиться к игре!</h1>

<p>
    Чтобы присоединиться нажмите по ссылке ниже: <br><br>
    <a href="http://localhost/game/join/{{ identifier }}">Присоединиться</a>.
</p>
