<h1>Здравствуйте, Тайные санты найдены!</h1>

<p>
    Чтобы посмотреть для кого вы стали сантой нажмите по ссылке ниже: <br><br>
    <a href="http://localhost/game/join/{{ identifier }}">Посмотреть</a>.
</p>
